
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Ingresar Cliente</title>
</head>
<body>
    <div>
        <h5 class="display-5">Ingresar Clientes</h5>

        <table border="0">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_rut">Rut:</label>
                </td>
                <td>
                    <input type="text" id="Txt_rut" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_nombre">Nombre:</label>
                </td>
                <td>
                    <input type="text" id="Txt_nombre" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_direccion">Dirección:</label>
                </td>
                <td>
                    <input type="text" id="Txt_direccion" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_telefono">Teléfono:</label>
                </td>
                <td>
                    <input type="text" id="Txt_telefono" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-secondary btn-block">Ingresar Cliente</button>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_mensaje">Mensaje</label>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
