
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <div> 
        <h1 class="display-5">Pizzas Napoleon</h1>

        <table border="0">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_usuario">Usuario:</label>
                    <input type="text" id="Txt_usuario" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_clave">Clave:</label>
                    <input type="password" id="Txt_clave" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-secondary btn-lg">Login</button>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_mensaje">Mensaje</label>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
