
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Pantalla Inicial</title>
</head>
<body>
    <div>
         <h1 class="display-5">Pizzas Napoleon</h1>
        <hr />
        <table border="0">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-secondary btn-block">Ingreso de Orden</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-secondary btn-block">Empleados</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-secondary btn-block">Clientes</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-secondary btn-block">Salir</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
