
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Ingresar Orden</title>
</head>
<body>
    <div>
        <h5 class="display-5">Ingreso de Orden</h5>

        <table border="0">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_pizza">Pizza:</label>
                </td>
                <td>
                    <select class="custom-select custom-select-sm">
                        <option selected>Seleccione un valor</option>
                        <option value="1">OpcionVariable</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_cliente">Cliente:</label>
                </td>
                <td>
                    <select class="custom-select custom-select-sm">
                        <option selected>Seleccione un valor</option>
                        <option value="1">OpcionVariable</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_cantidad">Cantidad:</label>
                </td>
                <td>
                    <input type="text" id="Txt_cantidad" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-secondary btn-block">Ingresar Orden</button>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label id="Lbl_mensaje">Mensaje</label>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
